<div id="fpl-perspective">
    <div id="fpl-videos">
        {% assign calvin_videos = site.static_files | where_exp: "video", "video.path contains 'calvin'" | where: "extname", ".mp4" | sample: 20 %}
        {% assign simpler_videos = site.static_files | where_exp: "video", "video.path contains 'simpler' and video.path contains 'success'" | where: "extname", ".mp4" | sample: 20 %}
        {% assign all_videos = calvin_videos | concat: simpler_videos %}
        {% assign n = all_videos | size %}
        {% assign videos = all_videos | sample: n %}
        {% for video in videos %}
            <video style="max-width: 100%;height: 100%;object-fit: cover;" width="100%" height="100%" autoplay muted loop playsinline>
                <source src="{{ video.path | relative_url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% endfor %}
    </div>
</div>
<!-- <h1 class="title is-1 publication-title p-3" id="fpl-title">BESO</h1> -->

<script>
    const unif = () => Math.random()
    const beta = () => Math.sin(unif()*Math.PI/2)**2
    // random rot each time
    root = document.querySelector(':root')
    root.style.setProperty('--fpl-rotX', Math.floor(beta() * 20) - 10 + 'deg') // -10 to 10
    root.style.setProperty('--fpl-rotY', Math.floor(beta() * 30) - 15 + 'deg') // -15 to 15

</script>
<style>
    :root {
        --fpl-rotX: 10deg;
        --fpl-rotY: -15deg;
    }
    @keyframes resetTransform {
        0% {
            transform: rotateX(var(--fpl-rotX)) rotateY(var(--fpl-rotY)) translateZ(400px);
        }
        100% {
            transform: none; /* Resetting to default state */
        }
    }

    #fpl-perspective {
        perspective: 500px;
        perspective-origin: center;
        max-width:100vw;
        max-height:100vh;
        overflow: hidden;
    }
    #fpl-videos {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(5, 1fr);

        transform: rotateX(var(--fpl-rotX)) rotateY(var(--fpl-rotY)) translateZ(400px);
        animation: resetTransform 8s ease-in-out 1s forwards;
    }
    @media (max-width: 720px) {
        #fpl-videos {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(25, 1fr);
        }
    }
    #fpl-title {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
    }
</style>